{{define "head"}}Описание лота{{end}}
{{define "body"}}
    <button type="button" class="btn btn-primary" onclick="window.history.back();">Назад</button>
    <h1>{{.Title}}</h1>
    <p>{{if .Description}} {{.Description}}{{else}} Нет описания{{end}}</p>
    <p>Минимальная цена: {{.MinPrice}}</p>
    <p>Шаг цены: {{.PriceStep}}</p>
    <p>Цена покупки: {{if .BuyPrice}} {{.BuyPrice}} {{else}} еще не куплено{{end}}</p>
    <p>Статус: {{.Status}}</p>
    <p>Время окончения торга: {{.EndAt}}</p>
    <p>Время создания:{{.CreatedAt}}</p>
    <p>Время обновления:{{.UpdatedAt}}</p>
    <p>Владелец: {{.Creator.FirstName}} {{.Creator.LastName}}</p>
    <p>Покупатель: {{if .Buyer}} {{.Buyer.FirstName}} {{.Buyer.LastName}}{{else}} Нет покупателя {{end}}</p>
{{end}}